* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    background-color:#261340;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Nunito';
    color: #FFFFFF;
}

header, footer, nav {
    background-color: #120525;
}

/*------------------------------ Header ------------------------------------*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5em;
    width: 100%;
    margin-top: 0px;
    position: fixed;
}

header button {
    background-color: #120525;
    height: 4em;
    width: 4em;
    margin-right: 10px;
}

.hamb-img {
    height: 1.2rem;
}


.logo {
    margin-left: 20px;
    height: 2rem;
}

.elipse {
    height: 4em;
    width: 5em;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elipse:hover {
    background-color: #261340;
    /* transition: 20ms; */
}

nav {
    height: 100vh;
    width: 90vw;
    margin-top: 4.5em;
    padding: 0px 20px;
    position: fixed;
    right: 0;
}

nav div {
    padding: 0.7em;
}

nav div.search {
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 1.5em;
}

nav input, nav button {
    background: #D9D9D9;
    height: inherit;
    margin: -1px;
}

nav input {
    border-radius: 15px 0px 0px 15px;
    width: 100%;
}

nav button {
    border-radius: 0px 15px 15px 0px;
    width: 3em;
}

nav button:active {
    background-color: #FFFFFF;
}

nav ul {
    padding: 0.5em 0em;
    border-bottom: 1px solid #f21d6b;
}

nav div h1, footer div h1 {
    color: #f21d6b;
    font-size: 1em;
}

nav div li, footer {
    font-size: 0.8em;
}

nav div h1, footer div h1, nav div li, footer {
    line-height: 25px;
    letter-spacing: 0.19em;
}

.center {
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.display-none {
    display: none;
}




/*------------------------------ Footer ------------------------------------*/

footer {
    width: 100%;
    min-height: 400px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer div {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

footer div, footer ul {
    text-align: center;
}

footer div.suscribe {
    flex-direction: row;
    align-items: center;
    height: 1.8em;
    padding: 1em 0em;
}

footer input {
    background: #D9D9D9;
    height: inherit;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    width: 100%;
}

footer input::placeholder {
    padding: 0.3em;
}

footer button {
    background-color: #1c0b35;
    height: inherit;
    width: 9em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1em;
    letter-spacing: 0.07em;
}




/*--------------------------*/

footer h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.footer-logo {
    width: 162.15px;
    height: 42px;
}

footer h2 {
    font-size: 0.85em;
    line-height: 1.4em;
    font-weight: 600;
}

footer p:last-child {
    font-size: 0.7em;
}


/*--------------------------- Body -------------------------*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section {
    margin: 10px;
    width: 90vw;
}

.carousel {
    background-color: orange;
    width: 90vw;
    height: 454px;
}

/* ---------------- Main carousel --------------- */
header, nav {
    z-index: 1000000000;
}

section.main-carousel {
    margin-top: 4.5em;
    width: 100vw;
    overflow: hidden;
}

.main-carousel-div {
    width: 100%;
    max-width: 120em;
    max-height: 41.5em;
}

.main-carousel-div .c-container {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    transition: all .5s ease;
    transform: translateX(0%);

    overflow: hidden;
    max-height: 40em;
}

.main-carousel-div .c-container div img {
    object-fit: cover;
    width:100%;
    height: 100%;  
}

.c-container div {
    /* width: calc(100%/2 -2em) y en el container space-between */
    width: calc(100% / 2);
}

.c-nav {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -70px;
    z-index: 100000;
}

.c-nav-point {
    width: 1.2rem;
    height: 1.2rem;
    background-color:#120525;
    border-radius: 100%;
    margin: 0.5em;
}

.active {
    background-color: #f21d6b;
}


/* ----------------------------------------- */



@media (min-width: 600px) {

    header {
        height: 5.5em;
    }

    .logo {
        height: 2.6rem;
        width: 10.1rem;
    }

    
    .hamb-img {
        height: 1.6rem;
    }

    nav {
        height: 100vh;
        width: 20vw;
    }

    footer {
        padding-top: 4em;
    }

    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
    }

    footer div > img {
        padding-top: 1.5em;
    }

    footer div.aside div {
        padding-top: 1em;
        height: 50%;
    }

    footer div.nav {
        flex-direction: row;
    }

    footer li, footer h1 {
        text-align: left;
    }

    footer .aside h1 {
        text-align: center;
    }

    footer div.leyend {
        width: 100%;
    }

    footer div.suscribe {
        padding: 0px;
    }

    footer p:last-child {
        text-align: left;
    }
    
}